body {
    margin: 0; /* Odstraní výchozí okraje */
    overflow: hidden; /* Zabrání posouvání stránky */
}

canvas#c {
    display: block; /* Zajistí, že canvas vyplní prostor */
    width: 100vw;
    height: 100vh;
}
